.sidebar {
    width: 15%;
    height: 100%;
    position: fixed;
    top: 72px;
    left: 0;
    background-color: #dddddd;
}
.sidebar a {
    display: block;
    color: black;
    border: 2px violet;
    padding: 20px;
    text-decoration: none;
    text-align: center;
    font-family: sans-serif;
}
.sidebar a.selected {
    background-color: #5c00e6;
    color: white;
}
#header {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
} 
