<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <img id="header" src="{{ url_for('static', filename='image/header.png') }}" alt="IRIS-HEP Header">
    <div class ="sidebar">
            <a class="selected" href="{{ url_for('about') }}">About</a>
            <a href="{{ url_for('common') }}">Common Hops</a>
            <a href="{{ url_for('symmetry') }}">Symmetry</a>
            <a href="{{ url_for('containing') }}">Paths Containing IP</a>
            <a href="{{ url_for('unique') }}">Unique Paths</a>
    </div>
    <h2 style="top:65px;left:225px;position:fixed;font-family:sans-serif;">About</h2>
    <p style="top:105px;left:225px;position:fixed;font-family:sans-serif;">The LHC-OSG Network Monitoring Area gathers and makes accessible various network metrics related to network performance in order to debug complex network problems more effectively. There are over 230 OSG/WLCG perfSONAR toolkits (used for network measurement) eaach testing to one another many times a day. It can be challenging to identify network problems and, most importantly, their location, which is needed to be able to quickly get the problem fixed. This interface has four functions to assist with debugging such issues:</p>
</body>
</html>
