<!DOCTYPE html>
<html lang="en">
<head>
    <title>Paths Containing IP</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <img id="header" src="{{ url_for('static', filename='image/header.png') }}" alt="IRIS-HEP Header">
    <div class ="sidebar">
        <a href="{{ url_for('about') }}">About</a>
        <a href="{{ url_for('common') }}">Common Hops</a>
        <a href="{{ url_for('symmetry') }}">Symmetry</a>
        <a class="selected" href="{{ url_for('containing') }}">Paths Containing IP</a>
        <a href="{{ url_for('unique') }}">Unique Paths</a>
    </div>
    <form action="" method="post" nonvalidate>
        <p style="top:80px;left:570px;position:fixed;font-family:sans-serif;">{{ form.address(size=30, list="auto_ip") }} {{ form.address.label }}
            <datalist id="auto_ip">
            {% for ip in ips %}
            <option value={{ ip }}>
            {% endfor %}
            </datalist>
        </p>
        <p style="top:80px;left:240px;position:fixed;font-family:sans-serif;">{{ form.dt_from(size=16, placeholder="YYYY-mm-dd HH:MM:SS") }} {{ form.dt_from.label }}</p>
        <p style="top:120px;left:240px;position:fixed;font-family:sans-serif;">{{ form.dt_to(size=16, placeholder="YYYY-mm-dd HH:MM:SS") }} {{ form.dt_to.label }}</p>
        <p style="top:120px;left:570px;position:fixed;font-family:sans-serif;">{{ form.submit() }}</p>
    </form>
</body>
</html>
