<!DOCTYPE html>
<html lang="en">
<head>
    <title>Unique Paths</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <img id="header" src="{{ url_for('static', filename='image/header.png') }}" alt="IRIS-HEP Header">
    <div class ="sidebar">
        <a href="{{ url_for('about') }}">About</a>
        <a href="{{ url_for('common') }}">Common Hops</a>
        <a href="{{ url_for('symmetry') }}">Symmetry</a>
        <a href="{{ url_for('containing') }}">Paths Containing IP</a>
        <a class="selected" href="{{ url_for('unique') }}">Unique Paths</a>
    </div>
    <form action="" method="post" nonvalidate>
        <p style="top:80px;left:240px;position:fixed;font-family:sans-serif;">{{ form.src(size=30, list="auto_src") }} {{ form.src.label }}
            <datalist id="auto_src">
            {% for src in srcs %}
            <option value={{ src }}>
            {% endfor %}
            </datalist>
        </p>
        <p style="top:120px;left:240px;position:fixed;font-family:sans-serif;">{{ form.dest(size=30, list="auto_dest") }} {{ form.dest.label }}
            <datalist id="auto_dest">
            {% for dest in dests %}
            <option value={{ dest }}>
            {% endfor %}
            </datalist>
        </p>
        <p style="top:120px;left:970px;position:fixed;font-family:sans-serif;">{{ form.ipv6() }} {{ form.ipv6.label }}</p>
        <p style="top:80px;left:690px;position:fixed;font-family:sans-serif;">{{ form.dt_from(size=16, placeholder="YYYY-mm-dd HH:MM:SS") }} {{ form.dt_from.label }}</p>
        <p style="top:120px;left:690px;position:fixed;font-family:sans-serif;">{{ form.dt_to(size=16, placeholder="YYYY-mm-dd HH:MM:SS") }} {{ form.dt_to.label }}</p>
        <p style="top:80px;left:970px;position:fixed;font-family:sans-serif;">{{ form.metric() }} {{ form.metric.label }}</p>
        <p style="top:120px;left:1200px;position:fixed;font-family:sans-serif;">{{ form.submit() }}</p>
    </form>
</body>
</html>
